@model IEnumerable<ReviewsSite.Models.Toppings>
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Toppings Index</title>
    <link rel="StyleSheet" type="text/css" href="~/styles/IndexStyleSheet.css" />
</head>
<body>
    <header>
        <div class="logo">
            <a href="/Toppings/Index"><img src="~/images/pizza_four_eyes.png" alt="pizzafoureyes" /></a>
        </div>
        <div class="headerContent">
            <h1>Topping Review Site!</h1>
            <p><strong>Welcome to our website. This is where you will be able to review some of your favorite pizza toppings.</strong></p>
        </div>
    </header>

    <main>
    @foreach (var toppings in Model)
    {
        <div class="box">
            <div class="imgBx">
                <img src="/images/@toppings.Img" alt="@toppings.Name image" />
            </div>
            <div class="content">
                <h3>Name: <a href="/Toppings/Details/@toppings.Id">@toppings.Name</a> </h3>
                <h4>Average Rating: @toppings.AverageReview() / 5</h4>
                <p>Vegetarian: @toppings.IsVegetarian</p>
                <p>Description: @toppings.Description </p>
                <a href="/Toppings/Update/@toppings.Id"><button id="sendBtn">Edit Topping</button></a> <a href="/Toppings/Delete/@toppings.Id"><button id="sendBtn">Delete topping</button></a>
            </div>
        </div>
    }

    <h1><a href="/Toppings/Create"><button id="sendBtn">Add a Topping to our site</button></a></h1>
    </main>
</body>
</html>
