@model IEnumerable<ReviewsSite.Models.Toppings>
@{ Layout = null; }

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Toppings Index</title>
    </head>
    <body>
        <h1>Topping Review Site!</h1>
            <p>Welcome to our website. This is where you will be able to review some of your favorite pizza toppings.</p>
        @*<h3>Name: @Model.Name</h3>
        <p>Description: @Model.Description</p>
        <p>Is vegetarian?: @Model.IsVegetarian</p>
        <p>Review: @Model.Review</p>*@
        <hr />

        @foreach(var toppings in Model)
        {
         <article>
             <h3>Name: <a href="/Toppings/Details/@toppings.Id">@toppings.Name</a></h3>             
         </article>
        }



    </body>
</html>
